<div class="mycontainer">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <img id="img1" routerLink='/home' src="https://www.freeiconspng.com/uploads/black-circle-arrow-up-icon-31.png"
        alt="">
      <div id="circle">
        <span class="dot1"></span>
        <span class="dot2"></span>
      </div>
      <img id="img2" routerLink='/contact' src="https://www.freeiconspng.com/uploads/black-circle-arrow-up-icon-31.png"
        alt="">
    </mat-sidenav>
    <mat-sidenav-content>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyh_sALHdEjpDivsXaPG52E3voex6HFkZZppMIuCvFeM390TNhHT-0Gp0GIzb9v0pT81M&usqp=CAU"
        id="sidelogo" alt="">
      <h1>Contact Details</h1>
      <div id="firstlast">
        <div id="firstname">FIRST NAME <br>
          <mat-form-field id="firstnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
        <div id="lastname">LAST NAME <br>
          <mat-form-field id="lastnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
      </div>
      <div id="firstlast">
        <div id="firstname">EMAIL <br>
          <mat-form-field id="firstnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
        <div id="lastname">MOBILE <br>
          <mat-form-field id="lastnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
      </div>
      <div id="firstlast">
        <div id="firstname">STATE <br>
          <mat-form-field id="firstnameinput">
            <mat-select>
              <mat-option *ngFor="let state of states" [value]="state.value">
                {{state.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div id="lastname">CITY <br>
          <mat-form-field id="lastnameinput">
            <mat-select>
              <mat-option *ngFor="let city of cities" [value]="city.value">
                {{city.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div id="firstlast">
        <div id="firstname">WEBSITE <br>
          <mat-form-field id="firstnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
        <div id="lastname">MOBILE APP LINK <br>
          <mat-form-field id="lastnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
      </div>

      <h2 id="logo">PITCH DECK</h2>
      <button class="button1" onclick="defaultBtnActive()">
        <div>
          <img [src]="url" height="200" /> <br />
          <input type="file" Class="custom-file-input" (change)="onSelectfile($event)" />
        </div>
      </button>

      <button id="submit">Submit</button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>