<div class="maincontainer">
  <div class="mycontainer">
    <img id="sidecut" src="assets/side_cut_2.png" alt="">
    <mat-sidenav-container>
      <mat-sidenav mode="side" opened>
        <img id="img1" routerLink='/home' src="assets/up_logo/2x/baseline_arrow_circle_up_white_36dp.png"
          alt="">
        <div id="circle">
          <span class="dot1"></span>
          <span class="dot2"></span>
        </div>
        <img id="img2" routerLink='/contact' src="assets/up_logo/2x/baseline_arrow_circle_up_white_36dp.png"
          alt="">
      </mat-sidenav>
      <mat-sidenav-content>
        <img src="assets/Incubator.png" id="sidelogo" alt="">
      <h1>Contact Details</h1>
      <div id="firstlast">
        <div id="firstname"><span class="red">FIRST NAME</span><br>
          <mat-form-field id="firstnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
        <div id="lastname"><span class="red">LAST NAME </span><br>
          <mat-form-field id="lastnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
      </div>
      <div id="firstlast">
        <div id="firstname"><span class="red">EMAIL</span> <br>
          <mat-form-field id="firstnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
        <div id="lastname"><span class="red">MOBILE</span> <br>
          <mat-form-field id="lastnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
      </div>
      <div id="firstlast">
        <div id="firstname"><span class="red">STATE</span> <br>
          <mat-form-field id="firstnameinput">
            <mat-select>
              <mat-option *ngFor="let state of states" [value]="state.value">
                {{state.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div id="lastname"><span class="red">CITY</span> <br>
          <mat-form-field id="lastnameinput">
            <mat-select>
              <mat-option *ngFor="let city of cities" [value]="city.value">
                {{city.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div id="firstlast">
        <div id="firstname">WEBSITE <br>
          <mat-form-field id="firstnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
        <div id="lastname">MOBILE APP LINK <br>
          <mat-form-field id="lastnameinput">
            <input matInput [formControl]="text" required>
          </mat-form-field>
        </div>
      </div>

      <h3 id="pitch">PITCH DECK</h3>
      <div class="wrapperO" style="display: flex">
        <button class="wrapper" onclick="defaultBtnActive()">
          <div>
            <img [src]="url" height="200" /> <br />
            <input
              type="file"
              Class="custom-file-input"
              (change)="onSelectfile($event)"
            />
          </div>
        </button>
        <div class="content">
          <p>
            Wondering about details to mention in the Pitch Deck! Take a look at
            the Sample Pitch Deck.
          </p>
        </div>
      </div>
      <button id="submit">Submit</button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
</div>