.maincontainer{
  background-color: #e6e5e5;  
}
.mycontainer{
  display: flex;
  height: 770px;
  width: 75%;
  border: 0px solid black;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-left: 180px;
  background-color: #e6e5e5;
  box-shadow:  25px -3px 10px #e6e5e5;
}
#sidecut{
  display: flex;
  height: 100.5%;
  margin-top: -1.5px;
}
.mat-sidenav-container{
  width: 100%;
  font-family: 'Baloo Chettan 2', cursive;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.mat-sidenav{
  width: 200px;
  background-color: rgb(104,180,180);
}
.mat-sidenav-content{
  padding: 20px 40px;
  background-color: white;
}
#sidelogo{
  height: 90px;
  width: 250px;
  float: right;
  padding: 0px;
  left: 5px;
  margin-right: 3px;
}
#circle{
  padding-top: 220px;
}
.dot1 {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  margin: auto;
  margin-bottom: 5px;
}
.dot2{
  height: 10px;
  width: 10px;
  background-color: rgb(209, 207, 207);
  border-radius: 50%;
  display: flex;
  margin: auto; 
}
h1{
  font-size: 30px;
  font-family: 'Baloo Chettan 2', cursive;
  color:rgb(73, 122, 122) ;
  padding-top: 30px;
}
#img1{
  display: flex;
  height: 60px;
  width: 60px;
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
}
#img2{
  display: flex;
  height: 60px;
  width: 60px;
  margin: auto;
  transform: rotate(180deg);
  margin-bottom: 50px;
  cursor: pointer;
  margin-top: 200px;  
}
li{
  list-style: none;
  font-weight: normal;
}

#startup{
  font-size: medium;
  padding-top: 10px;
}
#startupinput{
  width: 100%;
  font-size: 15px;
}
#ind{
  font-size:medium;
  padding-top: 10px;
}
#indinput{
  width: 377px;
  font-size: 15px;
}
#sec{
  font-size: medium;
  padding-top: 10px;
  margin-left: 30px;
}
#secinput{
  width: 377px;
  font-size: 15px;
}
#indsec{
  display: flex;
  flex-direction: row;
}
#stage{
  font-size: medium;
  padding-top: 20px;
}
#stageinput{
  margin-top: 10px;
  width: 377px;
  font-size: 16px;
}
#stage2{
  margin-left: 80px;
  height: 40px;  
  align-items: center;
  border-radius: 50px;
  margin-top: 10px;
}
#stage2a,#stage2b{
  border-radius: 50px;
  border: none;
  transition: 0.8s;
  margin: 3px
}
.text{
  display: flex;
  flex-direction: row;
  float: right;
  margin-left: 30px;
  font-family: 'Baloo Chettan 2', cursive;
  margin-top: 20px;
}
#textarea{
  border: 1px solid rgb(189, 188, 188);
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 375px;
  border-radius: 5px;
  margin-top: 30px;
}
#stagetext{
  display: flex;
  flex-direction: row;
  font-size: medium;
}
#interests{
  font-size: medium;
  padding-top: 10px;
  font-weight: lighter;
}
.mat-checkbox{
  font-size: 15px;
  font-family: 'Baloo Chettan 2', cursive;
}
#continue{
  float: right;
  margin-right: 20px;
  height: 50px;
  width: 150px;
  border-radius: 40px;
  background-color: rgb(81, 153, 153);
  color: aliceblue;
  font-size: 25px;
  border: 0px;
}
.mat-button-toggle-checked{
  background-color: rgb(81, 153, 153);
  color: white;
  transition: 0.4s;
}
#remain{
  display: flex;
  float: right;
  flex-direction: row;
  margin-right: 15px;
  margin-top: -25px;
}
#myupload{
  margin-top: -165px;
  margin-left: 200px;
}
#upload{
  font-family: 'Baloo Chettan 2', cursive;
  font-size: medium;
}
#pitch{
  font-family: 'Baloo Chettan 2', cursive;
  font-size: medium;
}
.wrapper {
  position: relative;
  height: 120px;
  width: 170px;
  border-radius: 10px;
  color: #c2cdda;
  font-size: 50px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: -10px;
}
.wrapperO > p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  color: #888888;
  margin-left: 10px;
  width: 500px;
}
.content > p {
  position: relative;
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "+";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgb(81, 153, 153) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgb(81, 153, 153) !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: white !important;
  border: 2px solid rgb(133, 132, 132);
}
.colorsec::after{
  content: "*";
  color: red;
}
